

<form class="form-signin"
        (ngSubmit)='login(formdata)'
        #formdata = 'ngForm'>        

    
   <h2 class="form-signin-heading">Please sign in</h2>
   <label for="inputEmail" class="sr-only">Email address</label>
           <input
               class="form-control"
               type="text"
               name="email"
               [(ngModel)]='user.email'
               placeholder="Email address"
           >
           
           <input
               class="form-control"
               type="password"
               name="password"
               [(ngModel)]='user.password'
               placeholder="Password"
           >
            ​
       <div class="container-login100-form-btn m-t-17">
           <button class="btn btn-block btn-dark" type="submit">
               Enter
           </button>
       </div> ​
   </form> 